*{
  margin: 0;
  padding: 0;
}
.first-menu{
  background-color: #AF9559;
}
div{
  display: block;
}
ul{
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.first-menu ul{
  display: flex;
  margin: 0;
  height: 41px;
  align-items: center;
}

li{
  list-style-type: none;
}
#login{
  color:crimson
}
.first-menu a {
  color: #FEFEFE;
}

a{
  text-decoration: none;
  padding: 4px 15px;
  display: inline-block
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
}

.logo{
  padding-left: 5%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.but{
  margin-left: 100px;
}
* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  background: #FFFFFF;
  border: #A9A9A9 solid;
  border-radius: 3px ;
  border-width: 1px;
  display: flex;

}
#lupa{
  margin-top: 7px;
}
input, button {
  border: none;
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: black;
}
.Rub{
  border: black solid;
  border-width: 1px;
  height: 40px;
  width: 160px;
  margin-left: 100px;
  padding-left: 17px;
  padding-top: 7px;
  border-radius: 3px;
  background-color: #F1F1F1;
}




.Rub a{
  color: black;
}

.form{
  padding-left: 110px;
}

.logo-panel{
  border-bottom: darkgrey solid;
  border-width: 1px;
}

.second-menu ul{
  display: flex;
  margin: 0;
  height: 41px;
  align-items: center;
}
.second-menu a{
  font-size: 20px;
  color:#503737;
  text-decoration: none;
  padding: 4px 17px;
 
}
#stock{
  font-weight: 900;
  color:#C1A25A;
}
.second-menu{
  border-bottom: #EF383F solid;
  border-width: 2px;
}
.backimage{
  width: 1200px;
  margin: 0 auto;
}
.text-after-img{
  text-align: center;
 
}
/* .undbimg a{
  color:#503737;
  font-weight: 900;
  text-decoration: underline;
  
} */

.double-line{
  display:inline-block;
  width:35%;
  border-bottom:1px solid #503737;
  vertical-align:middle
}
#text-w-lines{
  display:inline-block;
  font-size:20px;
  vertical-align: middle;
  color: #503737;
  font-weight: 900;
}

.text-after-img h1{
  color: #503737;
  font-size: 40px;
  font-weight: 300;
}

.services{
  text-align: center;
}

.services h1{
  color: #503737;
  font-size: 40px;
  font-weight: 300;
}



.services ul{
  display: flex;
  justify-content: center;
  margin-right: 50px;
}
.services li{
  margin-left: 100px;
  margin-right: 100px;
}

.bord{
  border: #D6CBCB solid;
}

#img{
  align-items: center;
  margin: auto;
}