<ul>
  <li 
    class="animal-info" 
    (click)="_selectAnimal()"
  > 
    {{ animal.type }} {{ animal.name }}
    <div 
      *ngIf="_isActive()"
    >
      <p>Sex: {{ animal.sex }}</p>
      <p>Weight: {{ animal.weight }} kg</p>
      <p>Color: {{ animal.color }}</p>
    </div>
  </li>
</ul>