body{
  background-color: darkgrey;
}
.wrapper{
  margin-top: 10%;
}
.text{
  text-align: center;
}
.button{  
  text-align: center;
  padding-top: 100px;
}
.buttonText{
  text-decoration: none; 
  font-size: 70px;
  color: black;
  border: black solid;     
  border-radius: 10px;
  background-color: #A6DFE9;
  padding-bottom: 8px;
}
