<div class="animal-list">

  <ul>
    <div class="one-animal">
      <li
        class="animal-info" 
        *ngFor="let animal of animals"
      > 
        <a
          routerLink="/animal-info/{{animal.id}}"
        >
          {{ animal.type }} {{ animal.name }}
        </a>
        
        <div 
          class="delete" 
          (click)="deleteAnimal(animal)"
        ></div>

        <div 
          id="edit-button"
          routerLink="/edit-animal/{{animal.id}}"
        >
          edit
        </div>

      </li>

    </div>
  </ul>

</div>

<ng-template #formContainer></ng-template>

<div 
  *ngIf="isModalShow"
  class="delete-form" 
  (click)="closeModal()"
></div>

<a 
  *ngIf="!isModalShow" 
  id="add-button" 
  (click)="createComponent()"
>
  Add
</a>
        
<div>
  <button 
    type="button"
    id="button-visibilityCats" 
    (click)="_toggleVisibilityCats()"
  >
    {{ _catsIsVisible ? "Hide" : "Show" }} cats
  </button>
</div>