.one-animal{
  display: flex;
}

a{
  text-decoration: none;
  color: black;
  &:hover{
    color: rgb(46, 55, 138);
  }
}

#edit-button{
  width: 45px;
  background-color: rgb(128, 166, 196);
  padding-left: 8px;
  border: black solid;
  border-width: 1px;
  border-radius: 4px;
  &:hover{
    cursor: pointer;
    background-color: rgb(105, 147, 179);
  }
}

#button-visibilityCats{
  height: 50px;
  width: 400px;
  position: absolute;
  left: 38%;
  top: 60%;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  font-size: 160%;
  background-color: rgb(128, 166, 196);
  &:hover{
    cursor: pointer;
    background-color: rgb(105, 147, 179);
  }
}

#add-button{
  position: absolute;
  height: 30px;
  width: 50px;
  border: black solid;
  border-width: 1px;
  font-size: 130%;
  font-weight: bolder;
  text-decoration: none;
  margin-left: 20px;
  color: black;
  border-radius: 3px;
  left: 47%;
  top: 50%;
  padding-left: 9px;
  padding-top: 4px;
  background-color: rgb(128, 166, 196);
  &:hover{
    cursor: pointer;
    background-color: rgb(105, 147, 179);
  }
}

.ul{
  margin-top: 5%;
}

li{
  
  list-style-type: none;
  font-size: 149%;
  width: 200px;
}

.delete{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: url('https://i.stack.imgur.com/cLnMQ.png') no-repeat center center / contain;
  &:hover{
    cursor: pointer;
    width: 11px;
    height: 11px;
  }
}

.delete-form{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 20%;
  bottom: 63%;
  background: url('https://i.stack.imgur.com/cLnMQ.png') no-repeat center center / contain;
  &:hover{
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
}
