<div class="wrapper">
  <div 
    class="delete" 
    (click)="goBack()"
  ></div>
  <span>{{ animal.type }} {{ animal.name }} information</span>
  <p>Sex: {{ animal.sex }}</p>
  <p>Weight: {{ animal.weight }} kg</p>
  <p>Color: {{ animal.color }}</p>
</div>