.dark {
  color:burlywood ;
  background-color: rgb(23, 32, 49);
}

body {
  margin: 0;
  background-color: rgb(208, 215, 221);
}

.dark button{
  background-color: rgb(0, 0, 0) !important;
  border: burlywood solid !important;
  border-width: 1px !important;
  color:burlywood ;
}

div{
  min-height: 100vh;
}

.ligth {
  color: black;
}

ul{
  list-style-type: none;
  display: flex;
  margin-top: 5%;
  cursor: pointer;
}

li{
  font-size: 150%;
  width: 10%;
  margin-left: 6%;
}

p{
  margin-top: 0;
  padding-top: 50px;
  font-size: 70%;
}

#buttonChangeTheme{
  height: 30px;
  width: 60px;
  font-size: large;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  position: absolute;
  right: 10%;
  top: 7%;
  background-color: rgb(177, 206, 230);
  cursor: pointer;
}

#buttonChangeTheme:hover {
  background-color: rgb(129, 154, 175);
  border-width: 2px;
}

#buttonVisCats{
  height: 50px;
  width: 400px;
  position: absolute;
  left: 38%;
  top: 60%;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  font-size: 160%;
  background-color: rgb(177, 206, 230);
  cursor: pointer;
}

#buttonVisCats:hover {
  background-color: rgb(129, 154, 175);
  border-width: 2px;
}

