p{
  font-size: 130%;
}

.wrapper{
  position: absolute;
  height: 300px;
  width: 300px;
  left: 44%;
}

span{
  font-size: 150%;
  font-weight: bolder;
}

.delete {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 0px;
  background: url('https://i.stack.imgur.com/cLnMQ.png') no-repeat center center / contain;
  &:hover{
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
}