
*{
  margin: 0;
  padding: 0;
}

.first-menu{
  background-color: #AF9559;
}

div{
  display: block;
}

ul{
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.first-menu ul{
  display: flex;
  margin: 0;
  height: 41px;
  align-items: center;
}

li{
  list-style-type: none;
}

#login{
  color:crimson;
}

.first-menu a {
  color: #FEFEFE;
}

a{
  text-decoration: none;
  padding: 4px 15px;
  display: inline-block
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
}

.logo{
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.but{
  margin-left: 100px;
}

* {box-sizing: border-box;}

.search {
  width: 300px;
  margin: 0 auto;
  background: #FFFFFF;
  border: #A9A9A9 solid;
  border-radius: 3px ;
  border-width: 1px;
  display: flex;
}

#lupa{
  margin-top: 7px;
}

input, button {
  border: none;
  outline: none;
  background: transparent;
}

input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}

#lupa{
  padding-top: 5px;
}

.rub{
  border: black solid;
  border-width: 1px;
  height: 40px;
  width: 160px;
  margin-left: 100px;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
  background-color: #F1F1F1;
}

.rub a{
  color: black;
}

.logo-panel{
  border-bottom: darkgrey solid;
  border-width: 1px;
}

.second-menu ul{
  display: flex;
  margin: 0;
  height: 41px;
  align-items: center;
}

.second-menu a{
  font-size: 20px;
  color:#503737;
  text-decoration: none;
  padding: 4px 17px;
}

#stock{
  font-weight: 900;
  color:#C1A25A;
}

.second-menu{
  border-bottom: #EF383F solid;
  border-width: 2px;
}

.backimage{
  width: 1200px;
  margin: 0 auto;
}

.text-after-img{
  text-align: center;
 
}

.double-line{
  display:inline-block;
  width:35%;
  border-bottom:1px solid #503737;
  vertical-align:middle
}

#text-w-lines{
  display:inline-block;
  font-size:20px;
  vertical-align: middle;
  color: #503737;
  font-weight: 900;
}

.text-after-img h1{
  color: #503737;
  font-size: 40px;
  font-weight: 300;
}

.services{
  text-align: center;
}

.services h1{
  color: #503737;
  font-size: 40px;
  font-weight: 300;
}

.services ul{
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

.services li{
  margin-left: 100px;
  margin-right: 100px;
}

.bord{
  border: #D6CBCB solid;
}

#img{
  align-items: center;
  margin: auto;
}

#myForm{
  display: none; 
}

.form_message {
  top: 0px;
  position: fixed;
  right: 15px;
}

.form_message h1{
  text-align: center;
}

.form-container {
  
  max-width: 300px;
  padding: 10px;
  background-color:#AF9559;
  border: #8d743c solid;
  border-radius: 15px;
}

.form-container input, textarea[name='fildMessage']{
  padding: 15px;
  margin: 5px 0 10px 0;
  background: #f1f1f1;
}

textarea[name='fildMessage']{
  resize: none;
  outline: none;
  overflow: auto;
  width: 100%;
  border: none;
}

.formButtons{
  height: 30px;
  margin-bottom: 4px;
}

.btnСancel{
  margin-right: 20px;
}

.btnSend, .btnСancel{
  width: 40%;
  background-color: #c08056;
  

  border-radius: 7px;
  height: 30px;
  cursor: pointer;
}

.btnSend:hover{
  background-color: #c9865a;
}

.btnСancel:hover{
  background-color: #c9865a;
} 
/* попытка сделать alert */
.customAlert {
  height: 14.5%;
  width: 26%;
  position: absolute;
  display: none;
  left: 37%;
  border-radius: 5px;
  background-color: #292A2D;
  resize: none;
}

#output{
  color: white;
  position: absolute;
  top: 20%;
}

.alertFormButtons{
  position: absolute;
  right: 15px;
  bottom: 15px;
  
}

#alertBtnSend{
    height: 34px;
    width: 65px;
    border: royalblue solid;
    background-color: #87AEEE;
    border-width: 2px;
    border-radius: 5px;
}
#alertBtnSend:hover{
  background-color: #95b9f3;
  cursor: pointer;
}
