.wrapper{
  position: relative;
  height: 600px;
  width: 500px;
  margin: auto;
  margin-top: 140px;
  border: rgb(150, 158, 204) solid;
  border-radius: 5px;
  border-width: 1px;
  background-color: rgb(214, 214, 243);
}

#features-now{
  height: 90%;
  width: 90%;
  margin: auto;
}

#features-oneDay{
  top: 220px;
  position: absolute;
}

.table-time{
  width: 100%;
  margin-left: 60px
}
.table-temperature{
  width: 100%;
  margin-left: 66px;
}

.table-icon{
  width: 100%;
  margin-left: 30px;

}

.features-buttons{
  margin-left: 70px;
}

td{
  width: 50px;
  height: 40px;
}

.cityName{
  text-align: center;
}

.requestTime{
  position: absolute;
}

.temperature{
  text-align: center;
}

.wrapper-icon{
  justify-content:center;
  display: flex;
  height: 120px;
  width: 300px;
  margin: auto;
}

#icon{
  height: 100px;
  width: 100px;
}

.description{
  margin-top: 40px;
  text-align: center;
}

input{
  text-align: center;
  outline: none;
  height: 94%;
  width: 60%;
  border: rgb(150, 158, 204) solid;
  border-radius: 5px;
  border-width: 1px;
  background-color: rgb(213, 213, 241) ;
  margin-left: 90px;
}

.wrapper-input{
  position: absolute;
  width: 350px;
  height: 20px;
  bottom: 70px;
  justify-content:center;
  display: flex;
  left: 30px
}

.wrapper-button{
  position: absolute;
  justify-content:center;
  display: flex;
  width: 350px;
  height: 40px;
  bottom: 5px;
}

#button-showNow{
  height: 30px;
  width: 200px;
  top: 5px;
  background-color: rgb(199, 199, 235);
  border-radius: 5px;
  border-width: 1px;
}
#button-showOneDay{
  height: 30px;
  width: 200px;
  top: 5px;
  background-color: rgb(199, 199, 235);
  border-radius: 5px;
  border-width: 1px;
  margin-left: 20px;
}