<form 
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
>

  <div class="controlName">
    <Label for="type">Type:</Label>
    <input formControlName="type">
    <div
      class="invalid" 
      *ngIf="formGroup.controls['type'].invalid && formGroup.controls['type'].touched">
      Введите корректные данные
    </div>
  </div>

  <div class="controlName">
    <Label for="name">Name:</Label>
    <input formControlName="name">
    <div
      class="invalid" 
      *ngIf="formGroup.controls['name'].invalid && formGroup.controls['name'].touched">
      Введите корректные данные
    </div>
  </div>

  <div class="controlName">
    <Label for="sex">Sex:</Label>
    <input formControlName="sex">
    <div
      class="invalid" 
      *ngIf="formGroup.controls['sex'].invalid && formGroup.controls['sex'].touched">
      Введите корректные данные
    </div>
  </div>

  <div class="controlName">
    <Label for="weight">Weight:</Label>
    <input formControlName="weight">
    <div
      class="invalid" 
      *ngIf="formGroup.controls['weight'].invalid && formGroup.controls['weight'].touched">
      Введите корректные данные
    </div>
  </div>

  <div class="controlName">
    <Label for="color">Color:</Label>
    <input formControlName="color">
    <div
      class="invalid" 
      *ngIf="formGroup.controls['color'].invalid && formGroup.controls['color'].touched">
      Введите корректные данные
    </div>
  </div>

  <button 
    type="submit"
   >
    Add
  </button>

</form>

