form {
  padding-top: 40px;
  height: 500px;
  width: 300px;
  left: 40%;
  position: absolute;
  border: black solid;
  border-width: 1px;
  border-radius: 10px;
}

.delete {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 14px;
  top: 14px;
  background: url('https://i.stack.imgur.com/cLnMQ.png') no-repeat center center / contain;
  &:hover{
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
}

.controlName{
  position: relative;
  left: 30px;
  width: 160px;
  height: 80px;
}

input.ng-invalid.ng-touched {
  border: 2px solid;
  border-radius: 2px;
  border-color: red;
}

input{
  margin-left: 30px;
  margin-top: 10px;
  background-color: rgb(149, 193, 226);
  border: black solid;
  border-width: 1px;
  border-radius: 2px;
  outline: none;
}

.invalid{
  width: 200px;
  height: 20px;
  color: red;
}

button{
  margin-top: 20px;
  position: absolute;
  left: 27%;
  height: 30px;
  width: 120px;
  background-color:  rgb(128, 166, 196);
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  font-size: 120%;
  &:hover{
    cursor: pointer;
    background-color: rgb(105, 147, 179);
  }
}