<form 
  #form="ngForm"
  (ngSubmit)="onSubmit(form)"
>

  <div 
    class="delete" 
    (click)="goBack()"
  ></div>

  <div class="controlName">
    <Label for="type">Type:</Label>
    <input 
      id="type"
      name="type"
      [(ngModel)]="animal.type"
      #type="ngModel"
      minlength="3"
      maxlength="10"
      required
    >
    <div 
      class="invalid"
      *ngIf="type.invalid && type.touched"
    >
      Введите корректные данные
    </div>  
  </div>

  <div class="controlName">
    <Label for="name">Name:</Label>
    <input 
      id="name"
      name="name"
      [(ngModel)]="animal.name"
      #name="ngModel"
      minlength="3"
      maxlength="10"
      required
    >
    <div 
      class="invalid"
      *ngIf="name.invalid && name.touched"
    >
      Введите корректные данные
    </div> 
  </div>

  <div class="controlName">
    <Label for="sex">Sex:</Label>
    <input 
      id="sex"
      name="sex"
      [(ngModel)]="animal.sex"
      #sex="ngModel"
      minlength="1"
      maxlength="1"
      required
    >
    <div 
      class="invalid"
      *ngIf="sex.invalid && sex.touched"
    >
      Введите корректные
    </div> 
  </div>

  <div class="controlName">
    <Label for="weight">Weight:</Label>
    <input 
      id="weight"
      name="weight"
      [(ngModel)]="animal.weight"
      #weight="ngModel"
      minlength="1"
      maxlength="4"
      required
    >
    <div 
      class="invalid"
      *ngIf="weight.invalid && weight.touched"
    >
      Введите корректные данные
    </div>     
  </div>

  <div class="controlName">
    <Label for="color">Color:</Label>
    <input 
      id="color"
      name="color"
      [(ngModel)]="animal.color"
      #color="ngModel"
      minlength="3"
      maxlength="10"
    >
    <div 
      class="invalid"
      *ngIf="color.invalid && color.touched"
    >
      Введите корректные данные
    </div>  
  </div>

  <button 
    id="submit-button"
    type="submit"
  >
    Update
  </button>

</form>
