.page {
  background-color: #272222;
}

#output {
  width: 100%;
}

.wrapper {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

td {
  padding: 7px;
}

input {
  border-radius: 90px;
  height: 40px;
  width: 60px;
  font-size: larger;
  background-color: #3f3c3c;
}

table {
  border: #3f3c3c solid;
  border-radius: 40px;
}

.symb {
  color: #6cca0d;
}

#calculate {
  width: 100%;
  background-color: #427E04;
  color: white;
}

.del {
  font-weight: bolder;
  color: #e95534;
}

.numbers {
  color: white;
}

.wrapperStor {
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 150px;
  word-spacing: 999vw;
}

.story {
  color: #535c5c;
}
