ul{
  list-style-type: none;
  display: flex;
  margin-top: 5%;
}

#button-visibilityCats{
  height: 50px;
  width: 400px;
  position: absolute;
  left: 38%;
  top: 60%;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  font-size: 160%;
  background-color: rgb(128, 166, 196);
}

.animal-atribute{
  font-size: 70%;
}

li{
  font-size: 150%;
  width: 10%;
  margin-left: 6%;
}
