<app-header></app-header>

<ul>
  <li 
    *ngFor="let item of _animalsList" 
    (click)="_activateAnimal(item.id)"
  >
    {{ item.type }} {{ item.name }}
    <p 
      class="animal-atribute" 
      *ngIf="_isActive(item.id)"
    >
      Sex: {{ item.sex }}
    </p>
    <p 
      class="animal-atribute" 
      *ngIf="_isActive(item.id)"
    >
      Weight: {{ item.weight }} kg
    </p>
    <p 
      class="animal-atribute" 
      *ngIf="_isActive(item.id)"
    >
      Color: {{ item.color }}
    </p>
  </li>
</ul>

<div>
  <button 
    id="button-visibilityCats"
    (click)="_toggleVisibilityCats()" 
  >
    {{ _catsIsVisible ? "Hide" : "Show" }} cats
  </button>
</div>