<div>
  <app-animal-info 
    *ngFor="let animal of animals" 
    [active]="_activeAnimalId === animal.id"
    [animal]="animal" 
    (onAnimalSelect)="_onAnimalSelect($event)"
  >
  </app-animal-info>
</div>
