#button-visibilityCats{
  height: 50px;
  width: 400px;
  position: absolute;
  left: 38%;
  top: 60%;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  font-size: 160%;
  background-color: rgb(128, 166, 196);
  
  &:hover{
    cursor: pointer;
    background-color: rgb(105, 147, 179);
  }
}
