<app-header></app-header>

<app-animal-list 
  [animals]="animalsList"
>
</app-animal-list>

<div>
  <button 
    id="button-visibilityCats" 
    (click)="_toggleVisibilityCats()"
  >
    {{ _catsIsVisible ? "Hide" : "Show" }} cats
  </button>
</div>