.page{
  background-color: rgb(214, 214, 214);
}

input{
  text-align: center;
  outline:none;
  height: 94%;
  border: none;
  width: 95%; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger; 
  background-color: rgb(199, 196, 196); 
}

table {
  margin: auto;
  border-collapse: collapse;
}

th, td {
  height: 70px;
  width: 157px; 
  text-align: center;
  border: 1px solid grey;
}

th{
  background-color: rgb(196, 180, 201);
}

td{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}

.td outset{
  background-color: rgb(196, 191, 201);
}

.button_wrapper{
  width: 200px;
  margin: auto;
  margin-top: 5px;
}

#add-line{
  height: 30px;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}
